<form>
    <div class="row">
        <div class="col-md-3 col-sm-12">
            <button class="btn btn-primary btn-sm" ng-click="toHome()">
                <i class="fa fa-arrow-left"></i>&nbsp;Back to upload
            </button>
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="torrent-name">Name</label>
                        <input
                                class="form-control input-sm"
                                type="text"
                                id="torrent-name"
                                ng-model="torrentToEdit.parsed.name"/>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-12">
                            <label>Announce</label>
                        </div>
                    </div>

                    <div class="row" ng-repeat="announce in torrentToEdit.parsed.announce track by $index">
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="input-group">
                                    <input
                                            class="form-control input-sm"
                                            ng-model="torrentToEdit.parsed.announce[$index]"
                                            type="text"/>
                                    <span class="input-group-btn">
                                        <button
                                                class="btn btn-danger btn-sm"
                                                title="Remove file"
                                                ng-disabled="torrentToEdit.parsed.announce.length == 1"
                                                ng-click="removeFrom(torrentToEdit.parsed.announce, announce)">
                                            <i class="fa fa-times"></i>
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12 text-right">
                            <button class="btn btn-success btn-sm" ng-click="addAnnounce()">
                                <i class="fa fa-plus"></i>&nbsp;Add announce
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="torrent-comment">Comment</label>
                        <input
                                class="form-control input-sm"
                                type="text"
                                id="torrent-comment"
                                ng-model="torrentToEdit.parsed.comment"/>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="torrent-creator">Torrent maker</label>
                        <input
                                class="form-control input-sm"
                                type="text"
                                id="torrent-creator"
                                ng-model="torrentToEdit.parsed.creator"/>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="torrent-publisher">Publisher</label>
                        <input
                                class="form-control input-sm"
                                type="text"
                                id="torrent-publisher"
                                ng-model="torrentToEdit.parsed.publisher"/>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="torrent-publisher-url">Publisher URL</label>
                        <input
                                class="form-control input-sm"
                                type="text"
                                id="torrent-publisher-url"
                                ng-model="torrentToEdit.parsed.publisherUrl"/>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="torrent-created">Creation time</label>
                        <input
                                class="form-control input-sm"
                                type="text"
                                id="torrent-created"
                                value="{{torrentToEdit.parsed.created}}" readonly/>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="torrent-info-hash">Info hash</label>
                        <input
                                class="form-control input-sm"
                                type="text"
                                id="torrent-info-hash"
                                value="{{torrentToEdit.parsed.infoHash}}" readonly/>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="torrent-encoding">Encoding</label>
                        <input
                                class="form-control input-sm"
                                type="text"
                                id="torrent-encoding"
                                value="{{torrentToEdit.parsed.encoding}}" readonly/>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="torrent-piece-length">Piece length</label>
                        <input
                                class="form-control input-sm"
                                type="text"
                                id="torrent-piece-length"
                                value="{{torrentToEdit.parsed.pieceLength | bytes}}" readonly/>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="torrent-piece-count">Piece count</label>
                        <input
                                class="form-control input-sm"
                                type="text"
                                id="torrent-piece-count"
                                value="{{torrentToEdit.parsed.pieceCount}}" readonly/>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-12">
            <div class="row">
                <div class="col-md-10">
                    <div class="form-group">
                        <label for="torrent-total-filesize">Total torrent files size</label>
                    </div>
                </div>
                <div class="col-md-2">
                    <input
                            class="form-control input-sm text-right"
                            type="text"
                            id="torrent-total-filesize"
                            value="{{torrentToEdit.parsed.totalLength | bytes}}" readonly/>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <label>Files</label>
                </div>
            </div>
            <div class="row" ng-repeat="file in torrentToEdit.parsed.files">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-10">
                            <div class="form-group">
                                <input type="text" class="form-control input-sm" ng-model="file.path"/>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <input
                                    type="text"
                                    readonly
                                    value="{{file.length | bytes}}"
                                    class="form-control input-sm"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-md-push-2 text-center">
            <div class="form-group">
                <div class="input-group">
                    <input type="text" class="form-control" ng-model="torrentToEdit.shortFileName"/>
                    <span class="input-group-btn">
                        <button class="btn btn-primary" ng-click="saveTorrent()">
                            <i class="fa fa-floppy-o"></i>&nbsp;Save
                        </button>
                    </span>
                </div>
            </div>
        </div>
    </div>
</form>