<div class="row">
    <form action="" class="text-center">
        <div class="col-md-12 col-sm-12">
            <h3 class="text-center">Upload .torrent file</h3>

            <div class="row">
                <div class="btn-group" role="group" aria-label="...">
                    <button
                            type="button"
                            ng-class="{'btn-info':uploadType == 'file'}"
                            ng-click="setUploadType('file')"
                            class="btn btn-default">
                        <i class="fa fa-file"></i>&nbsp;Upload file
                    </button>
                    <button
                            type="button"
                            ng-class="{'btn-info': uploadType == 'link'}"
                            ng-click="setUploadType('link')"
                            class="btn btn-default">
                        <i class="fa fa-link"></i>&nbsp;Insert link
                    </button>
                </div>
            </div>
            <div ng-switch="uploadType">
                <div ng-switch-when="link">
                    <div class="row" style="padding: 20px 0;">
                        <div class="col-md-6 col-md-push-3 col-sm-12">
                            <input
                                    style="margin: 0 auto; width: 90%;"
                                    type="text"
                                    class="form-control"
                                    ng-model="torrentLink"
                                    placeholder="Insert URL or magnet-link"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-sm-12 text-center form-group">
                            <button
                                    ng-click="uploadTorrent(torrentLink)"
                                    class="btn btn-success">
                                Upload!
                            </button>
                        </div>
                    </div>
                </div>
                <div ng-switch-when="file">
                    <div class="row" style="padding: 20px 0;">
                        <div class="col-md-4 col-md-push-4 col-sm-12">
                            <button class="btn btn-primary" ng-file-select ng-file-change="upload($files)">
                                <i class="fa fa-upload"></i>&nbsp;Select the file and upload it
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="row">
    <div class="col-md-8 col-md-push-2 col-sm-12">
        <table class="table" ng-show="torrents.length > 0">
            <tr>
                <th>#</th>
                <th>File name</th>
                <th class="text-center">Actions</th>
            </tr>
            <tr ng-repeat="torrent in torrents track by $index">
                <td>{{$index + 1}}</td>
                <td>{{torrent.name}}</td>
                <td class="text-center">
                    <a ng-href="{{torrent.href}}" class="btn btn-xs btn-success fa fa-download"></a>
                    <button class="btn btn-xs btn-primary" title="Edit">
                        <i class="fa fa-pencil-square-o"></i>
                    </button>
                    <button class="btn btn-xs btn-danger" title="Remove" ng-click="removeFromTorrents(torrent)">
                        <i class="fa fa-times"></i>
                    </button>
                </td>
            </tr>
        </table>
    </div>
</div>